snippet /**v "PHPDoc @var block comment" b
/**
 * @var $0
 */
endsnippet

snippet /**vi "PHPDoc @var inline comment" b
/** @var $0 */
endsnippet

snippet pubf "Public function with no comment" b
public function ${1:name}($2)
{
    $3
}
$0
endsnippet
