snippet mi "Min width" b
@media(min-width: $screen-$1) {
	$0
}
endsnippet

snippet ma "Max width" b
@media(max-width: $screen-$1) {
	$0
}
endsnippet

snippet nc "New class" b
.$1 {
	$2
}

$3
endsnippet
